VITE_SUPABASE_URL=https://gzljowocevkxdskorxvc.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6bGpvd29jZXZreGRza29yeHZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxODI5MzksImV4cCI6MjA5NDc1ODkzOX0.KyiXQiBwCXZteTKNsIjmCRcymNcOBipeWjErMu9NvRA
VITE_APP_NAME=GymNutricio
